### Basics of Python for Data Science
1. Variables : Variable are the placeholder which holds the data and allows user to retrieve or update it.
2. Data Types
3. Lists : A list is used to store multiple items in the single variable and enclosed by square brackets.
4. Tuple: Tuple stores multiple items in the single variable and enclosed by small brackets but tuple is immutable
5. Set: A set stores multiple items in the single variable enclosed by flower bracter and it is also immutable and it doesn't hold duplicate values
6. Dictionaries: Dictionaries are used to store values and keys
7. Conditions and logic
8. Loops
9. Functions
10. Arguments
11. Keywords Arguments
12. Lambda Functions
13. String Formatting
14. Classes
15. Methods
16. Attributes
17. Class Inheritance

In [ ]:
CRED --> CREATE, READ, UPDATE AND DELETE

In [7]:
space_name = 'Astronault Manoj'
print(space_name)
type(space_name)

Astronault Manoj

str

In [9]:
name_in_number = 654123356464
print(name_in_number)
type(name_in_number)

654123356464

int

In [10]:
#This is declaring a variable as a string
string_variable = 'MANOJ N D'

In [11]:
print(string_variable)

MANOJ N D

In [16]:
#Int variable
int_variable = 2345678
print(int_variable)
print('*'*20)

#Float variable
float_variable = 566787.9898
print(float_variable)
print('*'*20)


#Boolean variable
bool_variable = True
print(bool_variable)

2345678
********************
566787.9898
********************
True

In [49]:
#List variables 
list_variables = [21,23,66,4,76,47,67.78,21,23]
type(list_variables)
print(list_variables)

#insert
list_variables.append(337)
list_variables.insert(9,23)

###Updating
list_variables[4]=45
list_variables

#Delete
del list_variables[2]
list_variables

[21, 23, 66, 4, 76, 47, 67.78, 21, 23]

[21, 23, 4, 45, 47, 67.78, 21, 23, 23, 337]

In [20]:
# Creating Tuple
tuple_variable=(21,23,66,4,76,47,67.78)
#tuple_variable is immutable
tuple_variable[3]

4

In [24]:
#Creating set variable
set_variable={12,34,56,7,4,3,12,45,78,96,99}
print(set_variable)
type(set_variable)

{96, 34, 3, 4, 99, 7, 12, 45, 78, 56}

set

In [34]:
#Type casting list to set back to list and get rid of duplicates
print(set(list_variables))

print(list_variables)

{66, 67.78, 4, 76, 47, 21, 23}
[21, 23, 66, 4, 76, 47, 67.78, 21, 23]

In [36]:
#Defining a dictionary variable
dict_variable = {'Name':'Manoj',
                'Age':24,
                'Job': 'Data Scientist'}
print(dict_variable)
type(dict_variable)

{'Name': 'Manoj', 'Age': 24, 'Job': 'Data Scientist'}

dict

In [38]:
dict_variable['Name']

'Manoj'

In [64]:
#conditions and logic

#Applying logic using the IF statement
name = 'Neil Armstrong'
if name=='Neil Armstrong':
    print('Yes it is')
else:
    print("It's not")

    
#Applying logic using if else and the data is number
number = 123456876
if number >= 1234:
    print('Yes correct')
else: 
    print('wrong')

Yes it is
Yes correct

In [13]:
names = ['Manoj','Elon','silly','simple']
if 'Manoj' in names:
    print('Manoj here')

Manoj here

In [67]:
### For Loops

#An example of the for loops
for name in names:
    print(name)

Manoj
Elon
silly
simple

In [77]:
for name in names:
    if name =='Manoj':
        print('Manoj is here')
    elif name =='Elon Musk':
        print('Elon is here')
        #Break the statement and comes out of the loops
        break
    else:
        print('the rest name is not part of the conditions')
        break

Manoj is here
the rest name is not part of the conditions

In [79]:
#loops x number of times
for idx in range(1,10):
    print(idx)

1
2
3
4
5
6
7
8
9

In [81]:
for idx in range(len(names)):
    print(names[idx])

Manoj
Elon
silly
simple

In [89]:
##Create launch variables
launch_shuttles = 0
total_shuttles = 10
while True:
    #String format
    print('Shuttle {} launched'.format(launch_shuttles+1))  
    launch_shuttles+=1
    if launch_shuttles == total_shuttles:
        print('All shuttle launched')
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
Shuttle 6 launched
Shuttle 7 launched
Shuttle 8 launched
Shuttle 9 launched
Shuttle 10 launched
All shuttle launched

In [3]:
astronaut = {'Name':'Elon Musk',
            'Suit_size':'Medium',
            'Allergies':'Nothing'}

In [5]:
#loop through the keys in the dictinory
for key in astronaut.keys():
    print(key)

Name
Suit_size
Allergies

In [6]:
#Accessing dictionary values
for value in astronaut.values():
    print(value)

Elon Musk
Medium
Nothing

In [7]:
astronaut.items()

dict_items([('Name', 'Elon Musk'), ('Suit_size', 'Medium'), ('Allergies', 'Nothing')])

In [12]:
#Loop through the keys and values at the same time:
for key, value in astronaut.items():
    print(key)
    print(value,'\n')

Name
Elon Musk

Suit_size
Medium

Allergies
Nothing

In [23]:
#List comprehanisive
new_list = [name.title() for name in names]

In [24]:
new_list

['Manoj', 'Elon', 'Silly', 'Simple']

In [27]:
#######Functions


#defining function in python ---> Recipe
def Thisisfunction():
    print('Hello Buddy')
    print(1+2)

In [28]:
Thisisfunction()

Hello Buddy
3

In [29]:
#Basically the function is used to do repeated tasks
for num in range(10):
    Thisisfunction()

Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3
Hello Buddy
3

In [66]:
names = ['Neil Armstrong','Elon','Muskl','American','Dumb Guy']
new_names = ['Manoj ND','Neil Armstrong','Elon','Muskl','American','Dumb Guy']

In [40]:
len(names)

5

In [63]:
def new_custom_welcome(name):
    print('Welcome {}'.format(name))

In [43]:
def custom_welcome(name):
    for i in range(len(name)):
        print('Welcome {}'.format(name[i]))

In [44]:
custom_welcome(names)

Welcome Neil Armstrong
Welcome Elon
Welcome Muskl
Welcome American
Welcome Dumb Guy

In [55]:
def new_cust(first,last):
    print('Welcome {} {}'.format(first,last))

In [57]:
new_cust('Manoj','ND')

Welcome Manoj ND

In [56]:
first_name='Manoj'
last_name='ND'
new_cust(first_name,last_name)

Welcome Manoj ND

In [74]:
for name in names:
    custom_welcome(new_names)
    break

Welcome Manoj ND
Welcome Neil Armstrong
Welcome Elon
Welcome Muskl
Welcome American
Welcome Dumb Guy

In [75]:
def custom_welcome_to_ship(name,space_ship):
    print('Welcome {} to the {} '.format(name, space_ship))

In [77]:
custom_welcome_to_ship('Manoj','Earth')

Welcome Manoj to the Earth

In [78]:
space_ship = ['Galactic 1','Glactic2','USS Voyages','maximum Amazon wow ship','Apple','Earth']

In [85]:
space_ship[0]

'Galactic 1'

In [89]:
#used the enumerate function to get the positional index and the name

for idx,name in enumerate(new_names):
    ship = space_ship[idx]
    custom_welcome_to_ship(name,ship)

Welcome Manoj ND to the Galactic 1
Welcome Neil Armstrong to the Glactic2
Welcome Elon to the USS Voyages
Welcome Muskl to the maximum Amazon wow ship
Welcome American to the Apple
Welcome Dumb Guy to the Earth

In [94]:
#Lambda function --anonymous function
pi = lambda x:x*3.14
print(pi)

<function <lambda> at 0x000001ADD36261F0>

In [99]:
value= pi(1)
print(value)

3.14

In [103]:
class Person():
    #The method that runs as soon as we create a new instance of class.
    def __init__(self, name, age, color):
        #Create some attributes for our Person class
        self.name = name
        self.age = age
        self.color = color

In [104]:
#Creating an instance of the class
new_person = Person('Manoj', 24, 'Brown')
new_person

In [105]:
#Accessing the class attribute
print(new_person.name)
print(new_person.age)
print(new_person.color)

Manoj
24
Brown

In [110]:
class Dabbaclass():
    def __init__(self,name, age):
        self.name=name
        self.age=age

In [115]:

p1 = Dabbaclass('MANOJ',24)
print(p1.name)
print(p1.age)

MANOJ
24

In [169]:
###classes

class Newclass():
    def __init__(self, place, city,age):
        self.place = place
        self.city  = city
        self.age = age
        
# Date of birth metion
    def year_of_birth(self):
        return 2022-self.age
        
#projected age
    def project_age(self, years=500):
        return self.age+years

In [135]:
p1 = Newclass('Magadi','Ramanagar',24)

In [136]:
#accessing the class attribbute
p1.age

24

In [137]:
p1.year_of_birth()

1998

In [138]:
p1.project_age()

524

In [176]:
#Inheritence--
#Paarent is the class passinng down attributes and methods
#Child is the calss inheriting the methods annd attributes


class Asturanut(Person):
        #define initialization function
        def __init__(self, name, age, color, mission_length_in_months):
            #this is what gives us inheritance --super method
            super().__init__(name, age,color)
            self.mission_length_in_months =  mission_length_in_months
        
        def age_on_return(self):
            return self.mission_length_in_months/12

In [177]:
new_asturanut = Asturanut('Manoj',24,'Brown',1000)

In [178]:
#Calling the name from the class
new_asturanut.name

'Manoj'

In [179]:
#To run the another definition from the class
new_asturanut.age_on_return()

83.33333333333333