In [1]:
#Basic libraries
import pandas as pd
import numpy as np

In [ ]:
#Lets import the data set from webpage

In [2]:
web_scraping = pd.read_html('https://www.w3schools.com/html/html_tables.asp')

In [7]:
len(web_scraping)

2

In [10]:
new_df = web_scraping[0]

In [12]:
new_df.head()

                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada

In [14]:
new_df.shape

(6, 3)

In [9]:
web_scraping[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table